@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --font-size-small: 0.8rem;
    --font-size-medium: 1.3rem;
    --font-size-large: 1.8rem;

    --color-primary: #f7f3eb;
    --color-faded: rgb(142, 137, 159);

    --bg-color-primary: rgb(42, 42, 46);
    --bg-color-secondary: #202124;
}

.App {
    display: flex;
    flex-direction: column;

    border: 1px solid #202124;
    background-color: var(--bg-color-primary);
    color: var(--color-primary);
}

.Info__card {
    display: flex;
    flex-direction: column;
    min-width: 50vw;
    max-width: 100vw;
    align-items: center;
}

.photo__card,
.Footer__card {
    min-width: 350px;
    max-width: 100%;
}

.photo__card img {
    width: 100%;
    height: 100%;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.Info__details {
    text-align: center;
    font-family: 'Fira Sans';
    margin-bottom: .8rem;
}

.Info__owner-name {
    font-size: var(--font-size-medium);
    padding: .7rem .7rem 0;
    margin: 0;
}

.Info__owner-role {
    font-size: var(--font-size-small);
    color: var(--color-faded);
    margin: 0;
    padding-bottom: 1.2rem;
}

.Info__owner-website a {
    text-decoration: none;
    color: rgb(152, 147, 170);
    font-size: calc(var(--font-size-small) - 1px);
    letter-spacing: -0.5px;
}

.Info__contact-btns {
    display: flex;
    gap: 4rem;
}

.Info__contact-btns button {
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    cursor: pointer;
}

.Info__contact-btns button:hover {
    transition: all 900ms ease-in;
}

.Info__contact-btns button:first-child:hover {
    color: #f7f3eb !important;
    background-color: #146ebe !important;
}

.Info__contact-btns button:first-child:hover > svg {
    fill: #f7f3eb;
    transition: all 900ms ease-in;
}

.Info__contact-btns button:last-child:hover {
    color: #202124 !important;
    background-color: #f7f3eb !important;
}

.Info__contact-btns button:last-child:hover > svg {
    fill: #202124;
    transition: all 900ms ease-in;
}

.Info__contact-btns button:first-child {
    color: #202124;
    background-color: #f7f3eb;
}

.Info__contact-btns button:hover > button svg {
    fill: #202124 !important;
}

.Info__contact-btns button:last-child {
    color: #f7f3eb;
    background-color: #146ebe;
}

.svg1 {
    fill: #202124;
}

.svg2 {
    fill: #f7f3eb;
}

.About__card,
.Interests__card {
    align-self: center;
    width: 27vw;
    margin-left: 5rem;
    margin-right: 4rem;

    font-size: var(--font-size-medium);
    font-family: 'Courier Prime';
}

.About__card h3,
.Interests__card h3 {
    margin: 1.8rem 0 0;
    padding: 0;
}

.About__card p,
.Interests__card p {
    margin: 0;
}

.Footer__card {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    margin: 2.2rem 1.2rem;
    background-color: #212121;
    padding: 0.7rem 1.2rem;
    border-radius: 5px;
}

.Footer__card svg {
    width: 40px;
    height: 40px;
    fill: #f7f3eb;
    cursor: pointer;
}

.Footer__card svg:hover {
    fill: #146ebe;
    transform: rotate(20deg);
    transition: all 900ms ease-in;
}

.Footer__card svg:not(:hover) {
    transition: all 700ms ease-out;
}